{% extends 'Templates/base.html' %}


{% block content %}
    <div class="container mt-3">

        <h5>Preferred Currency</h5>
        
        {% include 'parts/messages.html' %}

        <form action="{% url 'preferences' %}" method="POST">
            {% csrf_token %}
            <div class="input-group">
                <select name="currency" class="custom-select w-75" id="inputGroupSelect04" aria-label="Example select with button addon">
                    {% if user_preferences.currency %}

                        <option name="currency" selected>{{user_preferences.currency}}</option>

                    {% endif %}
                    {% for currency in currency_data %}

                        <option name="currency" value="{{currency.name}} - {{currency.value}}">{{currency.name}} - {{currency.value}}</option>


                    {% endfor %}
                </select>
                <div class="input-group-append">
                <input class="btn btn-outline-secondary" type="submit" value="Save"/>
                </div>
            </div>
        </form>
    </div>
    <hr>


{% endblock %}