{% extends 'Templates/base.html' %}

{% block content %}

<div class="container mt-4">
    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Expenses</a></li>
          <li class="breadcrumb-item active" aria-current="page">Edit Expenses</li>
        </ol>
    </nav>


     
    <div class="card">
        <div class="card-body">
            <form action="{% url 'add-expenses' %}" method="POST">
                {% csrf_token %}

                {% include 'parts/messages.html' %}

                <div class="form-group mt-2">
                    <label for="" style="font-weight: bold;">Amount</label>
                    <input type="number" name="amount" id="" class="form-control form-control-sm" value="{{values.amount}}">
                </div>

                <div class="form-group mt-2">
                    <label for="" style="font-weight: bold;">Description</label>
                    <input type="text" name="description" id="" class="form-control form-control-sm" value="{{values.description}}">
                </div>

                <div class="form-group mt-2">
                    <label for="" style="font-weight: bold;">Category</label>
                    <select class="form-control" name="category">
                        <option value="{{values.category}}">{{values.category}}</option>
                        {% for category in categories %}
                            <option name="category" value="{{category.name}}">{{category.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group mt-2">
                    <label for="" style="font-weight: bold;">Date</label>
                    <input type="date" name="date" id="" class="form-control form-control-sm">
                </div>

                <input type="submit" value="Save" class="btn btn-outline-success btn-success-sm mt-2 px-3 rounded">
            </form>
        </div>
    </div>
</div>

{% endblock %}

