{% extends 'Templates/base.html' %}


{% block content %}
    <h1>Expense List</h1>

    <ul class="List-group">
        <li class="list-group-item">Bought Beer</li>
        <li class="list-group-item">Bought Beer</li>
        <li class="list-group-item">Bought Beer</li>
        <li class="list-group-item">Bought Beer</li>
        <li class="list-group-item">Bought Beer</li>
        <li class="list-group-item">Bought Beer</li>
        <li class="list-group-item">Bought Beer</li>
        <li class="list-group-item">Bought Beer</li>
    </ul>
{% endblock %}